# Topic Modeling Assessment Project

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('ds_cat_head_descr.csv')

In [4]:
df.head()

        category                                         head_descr
0          CRIME  there were 2 mass shootings in teas last week,...
1  ENTERTAINMENT  hugh grant marries for the first time at age 5...
2  ENTERTAINMENT  jim carrey blasts 'castrato' adam schiff and d...
3  ENTERTAINMENT  julianna margulies uses donald trump poop bags...
4  ENTERTAINMENT  morgan freeman 'devastated' that seual harassm...

# Preprocessing

#### Task: Use TF-IDF Vectorization to create a vectorized document term matrix. You may want to explore the max_df and min_df parameters.

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [6]:
tfidf = TfidfVectorizer(max_df=0.95, min_df=1, stop_words='english')

In [7]:
dtm = tfidf.fit_transform(df['head_descr'])

In [8]:
dtm

<148982x76968 sparse matrix of type '<class 'numpy.float64'>'
	with 2393412 stored elements in Compressed Sparse Row format>

In [9]:
len(tfidf.get_feature_names())

76968

In [10]:
print(tfidf.get_feature_names()[0])

00

# Non-negative Matrix Factorization

#### TASK: Using Scikit-Learn create an instance of NMF with 41 expected components. (Use random_state=42).

In [11]:
from sklearn.decomposition import NMF

In [12]:
nmf_model = NMF(n_components=41,random_state=42)

In [13]:
nmf_model.fit(dtm)

NMF(alpha=0.0, beta_loss='frobenius', init=None, l1_ratio=0.0, max_iter=200,
    n_components=41, random_state=42, shuffle=False, solver='cd', tol=0.0001,
    verbose=0)

#### TASK: Print our the top 15 most common words for each of the 41 topics.

In [14]:
for index,topic in enumerate(nmf_model.components_):
    print(f'THE TOP 15 WORDS FOR TOPIC #{index}')
    print([tfidf.get_feature_names()[i] for i in topic.argsort()[-15:]])
    print('\n')

THE TOP 15 WORDS FOR TOPIC #0
['tips', 'sleep', 'maintaining', 'prayers', 'meditations', 'spiritual', 'mindful', 'awareness', 'personal', 'meditation', 'hope', 'practice', 'daily', 'help', 'need']


THE TOP 15 WORDS FOR TOPIC #1
['election', 'presidency', 'doesn', 'america', 'supporters', 'news', 'russia', 'stephen', 'ban', 'colbert', 'administration', 'president', 'campaign', 'donald', 'trump']


THE TOP 15 WORDS FOR TOPIC #2
['album', 'shows', 'trailer', 'book', 'report', 'resolutions', 'hampshire', 'orleans', 'fashion', 'jersey', 'study', 'times', 'city', 'york', 'new']


THE TOP 15 WORDS FOR TOPIC #3
['look', 'beauty', 'photo', 'say', 'stylelist', 'huffpoststyle', 'instagram', 'sure', 'style', 'tumblr', 'huffpost', 'pinterest', 'check', 'facebook', 'twitter']


THE TOP 15 WORDS FOR TOPIC #4
['ladies', 'assault', 'abortion', '20', 'young', 'violence', 'gender', 'rights', 'female', 'march', 'girls', 'seual', 'woman', 'men', 'women']


THE TOP 15 WORDS FOR TOPIC #5
['honor', 'national', 'today', 'happy', 'labor', 'celebrate', 'gift', 'memorial', 'craft', 'mom', 'wedding', 'father', 'valentine', 'mother', 'day']


THE TOP 15 WORDS FOR TOPIC #6
['polls', '2016', 'primary', 'huffpollster', 'voters', 'supporters', 'election', 'presidential', 'debate', 'campaign', 'democratic', 'bernie', 'sanders', 'hillary', 'clinton']


THE TOP 15 WORDS FOR TOPIC #7
['gop', 'americans', 'better', 'senate', 'repeal', 'public', 'patients', 'medical', 'act', 'affordable', 'obamacare', 'insurance', 'mental', 'care', 'health']


THE TOP 15 WORDS FOR TOPIC #8
['beautiful', 'true', 'wedding', 'letter', 'person', 'fall', 'share', 'loving', 'story', 'valentine', 'hate', 'self', 'heart', 'relationship', 'love']


THE TOP 15 WORDS FOR TOPIC #9
['community', 'lgbt', 'color', 'help', '000', 'lgbtq', 'country', 'trans', 'social', 'lives', 'killed', 'lot', 'million', 'young', 'people']


THE TOP 15 WORDS FOR TOPIC #10
['epect', 'understand', 'ts', 'talk', 'ask', 'work', 'forget', 'say', 'try', 'worry', 'believe', 'feel', 'tell', 'let', 'don']


THE TOP 15 WORDS FOR TOPIC #11
['doesn', 'sounds', 'evening', 'dose', 'cheeky', 'huffpost', 'sign', 'read', 'felt', 'feels', 'hill', 'feel', 'look', 'looks', 'like']


THE TOP 15 WORDS FOR TOPIC #12
['raising', 'adults', 'mother', 'young', 'ways', 'teach', 'moms', 'mom', 'divorce', 'parent', 'parenting', 'child', 'parents', 'children', 'kids']


THE TOP 15 WORDS FOR TOPIC #13
['12', '11', 'net', 'boy', '2016', '2013', 'eve', 'resolution', '2014', 'daughter', 'son', 'girl', 'resolutions', 'old', 'year']


THE TOP 15 WORDS FOR TOPIC #14
['cancer', 'balance', 'ways', 'lives', 'important', 'moment', 'eperience', 'lessons', 'death', 'happiness', 'work', 'real', 'living', 'live', 'life']


THE TOP 15 WORDS FOR TOPIC #15
['tips', 'right', 'great', 'spent', 'come', 'holidays', 'stop', 'start', 'summer', 'money', 'net', 'work', 'long', 'spend', 'time']


THE TOP 15 WORDS FOR TOPIC #16
['girl', 'police', 'live', 'super', 'youtube', 'viral', 'baby', 'night', 'star', 'music', 'game', 'man', 'shows', 'watch', 'video']


THE TOP 15 WORDS FOR TOPIC #17
['did', 'aren', 'going', 'maybe', 'away', 'days', 'thing', 'right', 'mean', 'doesn', 'let', 'got', 'little', 'isn', 'just']


THE TOP 15 WORDS FOR TOPIC #18
['getting', 'ways', 'funniest', 'happen', 'stranger', 'right', 'lot', 'list', 'going', 'little', 'doing', 'learned', '10', 'say', 'things']


THE TOP 15 WORDS FOR TOPIC #19
['making', 'doesn', 'mistakes', 'easier', 'work', 'great', 'recipes', 'difference', 'easy', 'll', 'feel', 'sure', 'ways', 'better', 'make']


THE TOP 15 WORDS FOR TOPIC #20
['paul', 'spicer', 'staff', 'republicans', 'secretary', 'dinner', 'bannon', 'ryan', 'trump', 'supremacists', 'speaker', 'correspondents', 'press', 'white', 'house']


THE TOP 15 WORDS FOR TOPIC #21
['war', 'mr', 'policy', 'office', 'american', 'vice', 'administration', 'states', 'united', 'elect', 'america', 'michelle', 'barack', 'obama', 'president']


THE TOP 15 WORDS FOR TOPIC #22
['cup', 'place', 'live', 'country', 'social', 'travel', 'future', 'countries', 'paris', 'leaders', 'war', 'global', 'climate', 'change', 'world']


THE TOP 15 WORDS FOR TOPIC #23
['end', 'wanted', 'll', 'going', 'doesn', 'mom', 'wants', 'better', 'probably', 'right', 'thing', 'let', 'did', 'didn', 'know']


THE TOP 15 WORDS FOR TOPIC #24
['red', 'ideas', 'favorite', 'fashion', '2012', 'weekly', 'roundup', 'dress', 'finds', 'ebay', 'vintage', 'style', 'look', 'home', 'photos']


THE TOP 15 WORDS FOR TOPIC #25
['cities', 'places', 'summer', 'hotels', 'great', 'thing', 'friend', 'beauty', 'dressed', 'travel', '10', 'worst', 'list', 'america', 'best']


THE TOP 15 WORDS FOR TOPIC #26
['fall', 'fail', 'youtube', 'brilliant', 'videos', 'brighten', 'succinct', 'ladies', 'days', 'york', '20', 'tweets', 'funniest', 'fashion', 'week']


THE TOP 15 WORDS FOR TOPIC #27
['night', 'hill', 'job', 'reason', 'pretty', 'media', 'idea', 'feel', 'fake', 'sleep', 'thing', 'fo', 'bad', 'news', 'good']


THE TOP 15 WORDS FOR TOPIC #28
['rights', 'democratic', 'law', 'vote', 'ta', 'election', 'senate', 'democrats', 'republican', 'party', 'supreme', 'republicans', 'state', 'court', 'gop']


THE TOP 15 WORDS FOR TOPIC #29
['director', 'won', 'woman', 'study', 'fo', 'korea', 'report', 'host', 'north', 'wants', 'll', 'doesn', 'seual', 'star', 'says']


THE TOP 15 WORDS FOR TOPIC #30
['si', '000', '30', 'american', 'today', '50', 'old', 'later', 'marriage', 'past', '20', '10', 'cancer', 'ago', 'years']


THE TOP 15 WORDS FOR TOPIC #31
['wrong', 'travel', 'times', 'big', 'probably', 'lost', 'thing', 'lot', 'come', 'learned', 'heard', 'wedding', 'seen', 'got', 've']


THE TOP 15 WORDS FOR TOPIC #32
['middle', 'university', 'summer', 'shooting', 'gun', 'public', 'teacher', 'teachers', 'schools', 'student', 'education', 'college', 'students', 'high', 'school']


THE TOP 15 WORDS FOR TOPIC #33
['relationship', 'ask', 'right', 'live', 'start', 'stop', 'change', 'look', 'happy', 'hear', 'didn', 'sure', 'll', 'doesn', 'want']


THE TOP 15 WORDS FOR TOPIC #34
['let', 'self', 'come', 'different', 'body', 'easy', 'hard', 'wrong', 'great', 'feel', 'work', 'right', 'long', 'better', 'way']


THE TOP 15 WORDS FOR TOPIC #35
['better', 'twice', 'actually', 'thing', 'poll', 'mind', 'easier', 'problem', 'right', 'doesn', 'lot', 'going', 'didn', 'americans', 'think']


THE TOP 15 WORDS FOR TOPIC #36
['cooking', 'wine', 'america', 'waste', 'restaurants', 'recipes', 'diet', '10', 'weight', 'fast', 'foods', 'eating', 'healthy', 'eat', 'food']


THE TOP 15 WORDS FOR TOPIC #37
['little', 'stress', 'gift', 'let', 'vacation', 'tips', 'summer', 'thanksgiving', 'holidays', 'travel', 'friends', 'christmas', 'season', 'holiday', 'family']


THE TOP 15 WORDS FOR TOPIC #38
['didn', 'yes', 'mom', 'hard', 'bad', 'tell', 'question', 'isn', 'wants', 'did', 'mean', 'doesn', 'does', 'going', 'really']


THE TOP 15 WORDS FOR TOPIC #39
['community', 'americans', 'woman', 'white', 'panther', 'american', 'men', 'man', 'history', 'friday', 'police', 'matter', 'america', 'lives', 'black']


THE TOP 15 WORDS FOR TOPIC #40
['violence', 'dead', 'attorney', 'attack', 'death', 'seual', 'killed', 'didn', 'say', 'gun', 'woman', 'shooting', 'man', 'police', 'said']

#### TASK: Add a new column to the original dataframe that labels each question into one of the 41 topic categories.

In [15]:
df.head()

        category                                         head_descr
0          CRIME  there were 2 mass shootings in teas last week,...
1  ENTERTAINMENT  hugh grant marries for the first time at age 5...
2  ENTERTAINMENT  jim carrey blasts 'castrato' adam schiff and d...
3  ENTERTAINMENT  julianna margulies uses donald trump poop bags...
4  ENTERTAINMENT  morgan freeman 'devastated' that seual harassm...

In [16]:
topic_results = nmf_model.transform(dtm)

In [17]:
topic_results.argmax(axis=1)

df['Topic'] = topic_results.argmax(axis=1)

df.head(10)

        category                                         head_descr  Topic
0          CRIME  there were 2 mass shootings in teas last week,...     17
1  ENTERTAINMENT  hugh grant marries for the first time at age 5...     15
2  ENTERTAINMENT  jim carrey blasts 'castrato' adam schiff and d...      1
3  ENTERTAINMENT  julianna margulies uses donald trump poop bags...     38
4  ENTERTAINMENT  morgan freeman 'devastated' that seual harassm...     40
5  ENTERTAINMENT  donald trump is lovin' new mcdonald's jingle i...      1
6  ENTERTAINMENT  what to watch on amazon prime that’s new this ...     26
7  ENTERTAINMENT  mike myers reveals he'd 'like to' do a fourth ...      2
8  ENTERTAINMENT  what to watch on hulu that’s new this week you...     26
9  ENTERTAINMENT  justin timberlake visits teas school shooting ...     32

In [20]:
df[df['category']=='CRIME'].head(10)

    category                                         head_descr  Topic
0      CRIME  there were 2 mass shootings in teas last week,...     17
28     CRIME  rachel dolezal faces felony charges for welfar...     28
36     CRIME  man faces charges after pulling knife, stun gu...     40
38     CRIME  2 people injured in indiana school shooting a ...     32
179    CRIME  maryland police charge 3 church leaders with p...     40
219    CRIME  florida police report 2 dead after standoff at...     40
304    CRIME  'this isn’t pakistan, bitch': video captures d...     16
349    CRIME  these are the victims of the santa fe high sch...     32
396    CRIME  hospice overdosed patients to 'hasten their de...      7
398    CRIME  former wwf wrestler severely beaten outside ca...     38

In [21]:
df[df['Topic']==19].head(10)

          category                                         head_descr  Topic
33          COMEDY  trump's new 'maga'-themed swimwear sinks on tw...     19
48   ENTERTAINMENT  hollywood doesn't need 'difficult' men to make...     19
61        POLITICS  trump's new eecutive orders make it easier to ...     19
112       POLITICS  cynthia nion vows to keep fighting after (pred...     19
273       POLITICS  judge orders teas to make voter registration e...     19
388       POLITICS  sen. dean heller’s campaign paid his social me...     19
417       POLITICS  business groups might be quietly killing a bil...     19
423       POLITICS  facing farm bill vote problems, gop leaders ma...     19
440         IMPACT  the battle to save our dying soil this camp in...     19
464  ENTERTAINMENT  gq epertly spoofs vanity fair with their annua...     19